{% extends 'base.html' %}

{% load static %}

{% block mainContent %}

<div class="jumbotron text-center">
  <h1>About Us</h1>
<p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="icon-bar">
            <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.google.com/" class="google"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
        </div>
</p>

</div>

 <div class="about-section">

         <p style="text-align:center">
    <em>
        <font color="black">The strength of the team is each individual member. The strength of each member is the team <font/>
    </em>
          <p/>

    </div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img class="picture" src="{% static "Claudia Schedler.jpg" %}" alt="Claudia" width=100% />
      <div class="container">
        <h2>Claudia</h2>
        <b class="title">22 years old, currently living in Sulz, AT</b> <br> <br>
          <em>catlover,teamplayer & always in the mood for an ice cold beer</em> <br> <br>
          <p>Hobbies: </p>
        <ul>
          <li>Soccer</li>
          <li>Biking/Hiking</li>
          <li>Going out with Friends</li>
        </ul>
        <p> Education:</p>
           <ul>
          <li>Management and Economics, University of Innsbruck</li>
          <li>Working at Omicron Electronics in Klaus</li>
          <li>Business Background</li>
        </ul>

          <p>
              <button onclick="window.location.href='mailto:claudia.schedler@uni.li';">E-Mail me</button>
          </p>

      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <img class="picture" src="{% static "adrian baumgartner.jpg" %}" alt="adrian" width=100% />
      <div class="container">
        <h2>Adrian</h2>
       <b class="title">27 years old, currently living in Kriessern, CH</b> <br> <br>
      <em>sport-fanatic & open-minded</em><br> <br>
          <p>Hobbies: </p>
        <ul>
          <li>Soccer</li>
          <li>Biking/Hiking</li>
          <li>Drinking beer with friends</li>
        </ul>
        <p> Education:</p>
           <ul>
          <li>Business Administration, University Lucerence</li>
          <li>Working at xxx</li>
          <li>Business Background</li>
        </ul>

          <p>
              <button onclick="window.location.href='mailto:claudia.schedler@uni.li';">E-Mail me</button>
          </p>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img class="picture" src="{% static "roshan hausmann.jpg" %}" alt="roshan" width=100% />
      <div class="container">
        <h2>Roshan</h2>
        <b class="title">31 years old, currently living in Rheineck, CH</b> <br> <br>
          <em>doglover & teamplayer</em><br> <br>
           <p>Hobbies: </p>
        <ul>
          <li>dog petting</li>
          <li>gaming</li>
          <li>sports</li>
        </ul>
         <p> Education:</p>
           <ul>
          <li>Information Systems, Zurich Kalaidos  </li>
          <li>Working at xxx</li>
          <li>Technical Background</li>
        </ul>

          <p>
              <button onclick="window.location.href='mailto:roshan.hausmann@uni.li';">E-Mail me</button>
          </p>

         </div>
     </div>
  </div>
</div>




{% endblock mainContent %}








