{% extends 'base.html' %}

{% load static %}

{% block mainContent %}

<div class="jumbotron text-center">
  <h1>About Us</h1>
</div>

 <div class="about-section">

         <p style="text-align:center">
    <em>
        <font color="black">The strength of the team is each individual member. The strength of each member is the team<font/>
    </em>
          <p/>

     <p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="icon-bar">
            <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.google.com/" class="google"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
        </div>
</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static "Claudia Schedler.jpg" %}" alt="Claudia" width="395" height="435" />
      <div class="container">
        <h2>Claudia</h2>
        <b class="title">22 years old, currently living in Sulz, AT</b>

         <em>catlover & teamplayer</em>
          <p>Hobbies: </p>
        <ul>
          <li>Soccer</li>
          <li>Biking/Hiking</li>
          <li>Going out with Friends</li>
        </ul>
        <p> Education:</p>
           <ul>
          <li>Management and Economics, University of Innsbruck</li>
          <li>Working at Omicron Electronics in Klaus</li>
          <li>Business Background</li>
        </ul>

          <p>
              <button onclick="window.location.href='mailto:claudia.schedler@uni.li';">E-Mail me</button>
          </p>

      </div>
    </div>
  </div>



  <div class="column">
    <div class="card">
      <img src="{% static "adrian.jpeg" %}" alt="adrian" width="395" height ="435" />
      <div class="container">
        <h2>Adrian</h2>
        <h6 class="title">27 years old, currently living in Kriessern, CH</h6>
      <em>sport-fanatic & open-minded</em>
          <p>Hobbies: </p>
        <ul>
          <li>Soccer</li>
          <li>Biking/Hiking</li>
          <li>drinking</li>
        </ul>
        <p> Education:</p>
           <ul>
          <li>Business Administration, University Lucerence</li>
          <li>Working at xxx</li>
          <li>Business Background</li>
        </ul>

          <p>
              <button onclick="window.location.href='mailto:claudia.schedler@uni.li';">E-Mail me</button>
          </p>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="{% static "roshan.jpeg" %}" alt="roshan" width="395" height ="435" />
      <div class="container">
        <h2>Roshan</h2>
        <h6 class="title">Responsible in the Project for:</h6>
        <ul>
          <li>Coding</li>
          <li>Testing</li>
        </ul>
        <p>Hi everybody! My name is Claudia and I'm 22 years old. <br>
           I live in a small city in Austria called Sulz. I would <br>
           describe myself as an open-minded and humours person.
        </p>

          <p>
              <button onclick="window.location.href='mailto:roshan.hausmann@uni.li';">E-Mail me</button>
          </p>

         </div>
     </div>
  </div>
</div>


{% endblock mainContent %}








