{% extends 'base.html' %}

{% load static %}

{% block mainContent %}
    <div class="jumbotron text-center">
        <h1>Welcome to the project Quiz Game.</h1>
    </div>
    <div class="container">
        <div class="row">
        </div>
        <audio controls="controls">
            <source src="media\audiofile\intro.mp3" type="audio/mpeg"/>
            <source src="media\audiofile\intro.wav" type="audio/wave"/>
            <source src="media\audiofile\intro.ogg" type="audio/ogg"/>
            Your browser does not support the audio element.
        </audio>
    </div>
{% endblock mainContent %}