{% extends 'base.html' %}

{% load static %}

{% block mainContent %}
    <div class="jumbotron text-center">
        <h1>Welcome to the project Quiz Game.</h1>
    </div>

</div>
    <div class="container">
        <img class="img" src="{% static "welcome.jpeg" %}" alt="welcome" width=100% />
        <div class="row">
        </div>
       <div class="audio">
        <audio controls="controls">
            <source src="media\audiofile\intro.mp3" type="audio/mpeg"/>
            <source src="media\audiofile\intro.wav" type="audio/wave"/>
            <source src="media\audiofile\intro.ogg" type="audio/ogg"/>
            Your browser does not support the audio element.
        </audio>

    </div>
    </div>
{% endblock mainContent %}