{% extends 'base.html' %}

{% load static %}

{% block mainContent %}
    <div class="jumbotron text-center">
        <h1>Welcome to the project Quiz Game University of Liechtenstein</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Adrian Baumgartner</h3>
                <p>Player 1</p>
            </div>
            <div class="col-sm-4">
                <h3>Claudia Schedler</h3>
                <p>Player 2</p>
            </div>
            <div class="col-sm-4">
                <h3>Roshan Hausammann</h3>
                <p>Player 3</p>
            </div>
        </div>
    </div>
{% endblock mainContent %}