{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quizGameApp/style.css' %}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../welcome/">Quiz Game Uni li</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../questions/">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../create/">Create Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/admin/" tabindex="-1" aria-disabled="true">Admin</a>
            </li>
        </ul>
        <div>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.get_username }}. Enjoy your Quiz.</p>
            {% else %}
                <a href="/login/" class="header-link">Login</a>
            {% endif %}
        </div>
    </div>
</nav>