{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../welcome/">Quiz Game Uni li</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="../questions/">Questions</a>
                </li>
                <li>
                    <a class="nav-link" href="../create/">Create Question</a>
                </li>
                <li>
                    <a class="nav-link" href="/score/">High Score</a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                <li>
                    <a class="nav-link" href="../contact/">Contact Us</a>
                </li>
                <li>
                    <a class="nav-link" href="/about/">About Us</a>
                </li>


            </ul>
            <p>Welcome, {{ user.get_username }}. <a href="/logout/" class="header-link">Sign
                out</a></p>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link disabled" href="../questions/">Questions</a>
                </li>
                <li>
                    <a class="nav-link disabled" href="../create/">Create Question</a>
                </li>
                <li>
                    <a class="nav-link disabled" href="/score/">High Score</a>
                </li>
                <li>
                    <a class="nav-link disabled" href="../admin/">Admin</a>
                </li>
                <li>
                    <a class="nav-link disabled" href="/about/">About Us</a>
                </li>
                <li>
                    <a class="nav-link disabled" href="../contact/">Contact Us</a>
                </li>
            </ul>
            <a href="/login/" class="header-link">Login</a>
        {% endif %}
    </div>
</nav>