{% extends 'base.html' %}

{% block questionListContent %}
    <form method="POST" action="/result/">
        {% csrf_token %}
        <div>
            {% for result in all_questions %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <td>{{ result.id }} {{ result.question }} ?</td>
                    </tr>
                    </thead>
                    <tr>
                        {% if result.question_image == "" %}
                        {% else %}
                            <td><img src="/media/{{ result.question_image }}" class="img-thumbnail"/></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><input type="radio" id="Option1" class="rb" name="user_answer{{ result.id }}"
                                   value="{{ result.option1 }}"/>{{ result.option1 }}</td>
                    </tr>
                    <tr>
                        <td><input type="radio" id="Option2" class="rb" name="user_answer{{ result.id }}"
                                   value="{{ result.option2 }}"/>{{ result.option2 }}</td>
                    </tr>
                    <tr>
                        <td><input type="radio" id="Option3" class="rb" name="user_answer{{ result.id }}"
                                   value="{{ result.option3 }}"/>{{ result.option3 }}</td>
                    </tr>
                    <tr>
                        <td><input type="radio" id="Option4" class="rb" name="user_answer{{ result.id }}"
                                   value="{{ result.option4 }}"/>{{ result.option4 }}</td>
                    </tr>
                    <tr>
                        <td><label id="correct_answer" class="rb"
                                   style="display:none;color: limegreen"><b>The correct answer
                            is: {{ result.correct_answer }}</b></label>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            <hr/>
            <input type="submit" value="Check result">
            <b id="UserAnswers"></b>
        </div>
    </form>
{% endblock questionListContent %}